spring:
  application:
    name: CONFIG-SERVER

  cloud:
    config:
      server:
        git:
          uri: https://github.com/Astik2004/Microservices-config
          clone-on-start: true
server:
  port: 8087


